/*.navbar-collapse,
.nav.navbar-nav .btn-search-quick,
.navbar-toggle {
    display: none;
}

.socio-center {
    visibility: hidden;
}*/

header .contacts .adress {
    min-height: 43px;
}

.nav.navbar-nav .btn-search-quick,
.search-quick-mobile{
    display: none;
}
